<h4>Edit <span style="color: red"><%= @item.name %></span></h4>

<%= render "form", item: @item %>

<h4>Delete</h4>
<%= form_for(@item, :html => { :method => :delete, :remote => true }) do |form| %>
  <%= form.text_field :comment, class: "item_name", placeholder: "Comment" %>
  <%= form.submit "Delete", :class => "item_delete" %>
<% end %>