<h1><%= @item.name %></h1>

<p><%= @item.price %></p>
<p><%= @item.deletion_id %></p>

<ul>
  <li><%= link_to "Edit", edit_item_path(@item) %></li>
  <li><%= link_to "Destroy", item_path(@item), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>

<h2>Comments</h2>
<%= render @item.deletions %>

<h2>Add a comment:</h2>
<%= render 'deletions/form' %>